
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background: #D5E1EF;
}
.card-container{
    background: #FFFFFF;
    width: 320px;
    height: 497px;
    margin: 10rem auto;
    border: none;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container img{
    width: 288px;
    height: 288px;
    border: none;
    border-radius: 5%;
    margin: 16px;
}
.content-container{
    width: 288px;
    margin-top: 24px;
}
.content-container h1{
    text-align: center;
    font-size: 22px;
}
.content-container p{
    color: #7D889E;
    text-align: center;
    font-size: 15px;
    padding: 16px;
}
