
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background: #D5E1EF;
}
.card-container{
    background: #FFFFFF;
    width: 30rem;
    height: 40rem;
    margin: 20rem auto;
    border: none;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.card-container img{
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 5%;

}
.card-container h1{
    text-align: center;
    font-size: 22px;
}
.card-container p{
    color: #7D889E;
    text-align: center;
    font-size: 15px;
}
